<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="widget">
          <h3 class="mb-4">About</h3>
          <p>Welcome to Gustopolis, where the love for recipes thrives! Join our
            vibrant community of food enthusiasts, where trust and a diverse
            array of flavors are our specialties. Discover, share, and savor a
            unique culinary world with us. We look forward to exploring a
            universe of delicious possibilities together at Gustopolis!.</p>
        </div>
        <!-- /.widget -->
        <div class="widget">
          <h3>Social</h3>
          <ul class="list-unstyled social">
            <li><a href="https://www.instagram.com/" target="_blank"><span
                  class="icon-instagram"
                ></span></a></li>
            <li><a href="https://twitter.com/?lang=es" target="_blank"><span
                  class="icon-twitter"
                ></span></a></li>
            <li><a href="https://www.facebook.com/" target="_blank"><span
                  class="icon-facebook"
                ></span></a></li>

          </ul>
        </div>
        <!-- /.widget -->
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4 ps-lg-5">
        <div class="widget">
          <h3 class="mb-4">Company</h3>
          <ul class="list-unstyled float-start links">
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Vision</a></li>
          </ul>
        </div>
        <!-- /.widget -->
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="widget">
          <h3 class="mb-4">Most popular</h3>
          <div class="post-entry-footer">
            <ul>
              {{#each popularRecipes}}
                <li>
                  <a href="/recipes/{{this._id}}">
                    <img
                      src={{this.image}}
                      alt="Image placeholder"
                      class="me-4 rounded"
                    />
                    <div class="text">
                      <h4>{{this.title}}</h4>
                      <div class="post-meta">
                        <span class="mr-2">{{this.mealType}} </span>
                      </div>
                    </div>
                  </a>
                </li>
              {{/each}}
            </ul>
          </div>

        </div>
        <!-- /.widget -->
      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->

    <div class="row mt-5">
      <div class="col-12 text-center">
        <!-- 
              **==========
              NOTE: 
              Please don't remove this copyright link unless you buy the license here https://untree.co/license/  
              **==========
            -->

        <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>.
          All Rights Reserved. &mdash; Designed with love by
          <a href="https://untree.co">Untree.co</a>
          Distributed by
          <a href="https://themewagon.com">ThemeWagon</a>
          <!-- License information: https://untree.co/license/ -->
        </p>
      </div>
    </div>
  </div>
  <!-- /.container -->
</footer>