<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close">
      <span class="icofont-close js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>

<nav class="site-nav">
  <div class="container">
    <div class="menu-bg-wrap">
      <div class="site-navigation">
        <div class="row g-0 align-items-center">
          <div class="col-2">
            <a href="/" class="logo m-0 float-start">Gustopolis<span
                class="text-primary"
              >.</span></a>
          </div>
          <div class="col-8 text-center">

            <ul
              class="js-clone-nav d-none d-lg-inline-block text-start site-menu mx-auto"
            >
              <li><a href="/">Home</a></li>
              <li><a href="/recipes">All recipes</a></li>
              <li>
                <a class="nav-link" href="/categories">Categories</a>
              </li>

              {{#if currentUser}}
                <li class="has-children">
                  <a class="nav-link" href="#">Hello,
                    {{currentUser.username}}</a>
                  <ul class="dropdown">
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    aria-current="page"
                    href="/recipes/create"
                  >Create a recipe</a>
                </li>
              {{else}}
                <li class="nav-item">
                  <a
                    class="nav-link"
                    aria-current="page"
                    href="/register"
                  >Register</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
              {{/if}}
            </ul>
          </div>
          <div class="col-2 text-end">
            <a
              href="#"
              class="burger ms-auto float-end site-menu-toggle js-menu-toggle d-inline-block d-lg-none light"
            >
              <span></span>
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
</nav>