<div class="container my-5">
  <div class="row justify-content-center">
    {{#each recipes}}
      <div  class="card m-3" style="width: 18rem;">
        <a href="/recipesapi/{{idMeal}}">
        <img src="{{strMealThumb}}" class="card-img-top mt-3" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{strMeal}}</h5>
          <a href="/recipesapi/{{idMeal}}" class="btn btn-primary">View</a>
          </a>
        </div>
      </div>
    {{/each}}
  </div>
</div>